html,
body {
    height: 100%;
}

.full-height {
    min-height: 100%;
    padding-top: 56px;
    padding-bottom: 56px;
}

.page-section {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

.info {
    background-color: rgba(52, 58, 64, 0.94);
}

#home {
    background-image: url('../images/creative.jpg');
}

#about {
    background-image: url('../images/code.jpg');
}

#goals {
    background-image: url('../images/goals.jpg');
}

#projects {
    background: linear-gradient(rgb(52, 58, 64), rgb(0, 0, 0));
    display: flex;
    align-items: center;
    padding-left: 56px;
    padding-right: 56px;
}

.carousel-inner,
#projects-carousel,
#projects-carousel img {
    border-radius: 4px;
}





